@import url(./general.css);
@import url(./navbar.css);
@import url(./footer.css);

main{
    display: grid;
    grid-template-rows:auto;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: 250px; */
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    /* justify-items: center;*/
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input, form textarea, form select, form .genero {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color:  #f5e1fc9c */
}

form button {
    padding: 12px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 5px 10px;
    width: 90%;
}
.contacto-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contacto-boton input {
    width: 40%;
}
#contacto {
    margin-top: 10px;
}

.genero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}


/*Pantallas de mas de 473px*/
@media screen and (min-width: 473px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    #section-mapa{
        display: flex;
        /* position: relative; */
        flex-direction: column;
        align-items: center;
    }
    #mapa{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #mapa div{
        margin-top: 60px;
    }        
    form{
        width: 60%;
    }
    form button {
        width: 50%;
    }
    .contacto-boton {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }
    .contacto-boton input {
        width: 50%;
    }
    #contacto,  #mapa{
        margin-top: 50px;
    }
    form input, form textarea, form select, form .genero {
        margin-bottom: 16px;
        /* padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px; */
        /* background-color:  #f5e1fc9c */
    }
}
