@import url(./general.css);
@import url(./navbar.css);
@import url(./footer.css);

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input, form textarea, form select, form .genero {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color:  #f5e1fc9c */
}

form button {
    padding: 12px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin: 5px 10px;
    width: 90%;
}
.contacto-boton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contacto-boton input {
    width: 40%;
}
#contacto {
    margin-top: 50px;
}

.genero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}


/*Pantallas de mas de 473px*/
@media screen and (min-width: 473px){
    form{
        width: 60%;
    }
    form button {
        width: 50%;
    }
    .contacto-boton {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }
    .contacto-boton input {
        width: 50%;
    }
}
