footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #767177;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 25px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.footer-container p{
    margin-left: calc(100vw / 50);
}

.footer-whatsapp{
    margin-right: calc(100vw/50);
}