footer{
    background-color: #767177;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 25px;
}

#footer-whatsapp{
    position: fixed;
    left: 98%;
    top: 96.5%;
}

/* #footer-whatsapp img{
    width: 40px;
    height: 40px;
} */
