body{
margin: 0px;
}
/*###############Seccion 1####################*/
.seccion1 {
    width: 100%;
    /*height: 33vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.seccion1-image {
    width: 80%;
    /*height: 55%;*/
    height: 33vh;
    object-fit: cover;
    margin-bottom: 0;
}

.seccion1 h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.seccion1 p {
    font-size: 1.2em;
}