@import url(./servicios.css);

#agregarCard, #modificarCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
}



/*Pantallas de mas de 473px*/
@media screen and (min-width: 473px) {
    #agregarCard, #modificarCard{
        /* display: flex; */
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: center; */
        /* margin-bottom: 10px; */
        gap: 10px;
    }

}
